.sidebar-components {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.3s;
  background: #303030;
  color: white;

  &.open {
    width: 250px;
    border-right: 1px solid #666;
  }

  &--menu {
    height: 100%;
    transition: all .5s ease;
    text-decoration: none;

    &_logo {
      padding-top: 15px;
      width: 100%;
      user-select: none;
      text-align: center;
      font: 22px 'Open Sans', sans-serif;
      line-height: 45px;
    }
  
    & ul {
      list-style: none;
      margin-left: -40px;

      // & li:hover p {
      //   background: hwb(200 9% 86% / 0.975);
      // }
    }
  
    & p {
      font: 10px 'Open Sans', sans-serif;
      width: 100%;
      line-height: 65px;
      font-size: 15px;
      color: white;
      border-bottom: 1px solid black;
      border-top: 1px solid rgba(255, 255, 255, .1);
      transition: .4s;
      cursor: pointer;
      margin: 0;

      & i {
        margin-right: 16px;
      }
    }
  }
}
